<div class="authorization">
  <div class="title">{{i18n 'discord.authorization.title'}}</div>

  <div class='buttons'>
    {{d-button label="discord.authorization.authorize" action="authorize"}}
  </div>
</div>

<div class="jobs">
  <div class="title">{{i18n 'discord.job.sync_group_with_role'}}</div>

  <div class="group">
    {{input value=group placeholder=(i18n 'discord.job.group')}}
  </div>

  <div class="role">
    {{input value=role placeholder=(i18n 'discord.job.role')}}
  </div>

  <div class='buttons'>
    {{d-button label="discord.job.start" action="startJob" actionParam="sync_group_with_role" disabled=syncEnabled}}

    {{#if startingJob}}
      {{loading-spinner size="small"}}
    {{else}}
      {{#if jobStarted}}
        {{i18n 'discord.job.started'}}
      {{/if}}
    {{/if}}
  </div>

  <div class="list">
    <div class="subtitle">{{i18n 'discord.job.list'}}</div>

    {{#if model.jobs}}
      {{#each model.jobs as |j|}}
        <div class="job">
          {{{i18n 'discord.job.completed' name=(i18n (concat 'discord.job.' j.name)) completed_at=(raw-date j.completed_at format="medium")}}}
        </div>
      {{/each}}
    {{else}}
      {{i18n 'discord.job.none'}}
    {{/if}}
  </div>
</div>
